{% extends 'blog/base.html' %}
{% block title %}{{ post.title }}{{ block.super }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">
        Published {{ post.publish }} by <b>{{ post.author }}</b>
    </p>
    <div style="font-size:20px">{{ post.body|linebreaks }}</div>
    <br>
    {% if post.author == request.user %}
        <a href="{% url 'blog:delete' post.id %}" style="font-weight:bold;background: red;color:#fff;padding:10px 20px;font-size:14px;text-transform:uppercase;">Delete</a>
        <a href="{% url 'blog:edit' post.id %}" style="font-weight:bold;background: green;color:#fff;padding:10px 20px;font-size:14px;text-transform:uppercase;">Edit</a>
    {% endif %}
    <br>
    <br>
    <hr>
    <h2>Similar Posts</h2>
    {% for post in similar_posts %}
        <p>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </p>
        {% empty %}
            There are no similar posts yet.
    {% endfor %}
    <hr>
    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} comment{{ total_comments|pluralize }}
        </h2>
    {% endwith  %}
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
        {% empty %}
            <p>There ara no comments</p>
    {% endfor  %}
    {% if new_comment %}
        <h2>Your comment has been added.</h2>
    {% else %}
        <h2>Add a new comment</h2>
        {% if user.is_authenticated %}
            <form method="post">
                {{ comment_form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Add comment"></p>
            </form>
        {% else %}
            <h2>Login or Register to add a comment.</h2>
        {% endif %}
    {% endif  %}
{% endblock %}